
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="btn btn-success">
        @Html.ActionLink("Custom Validation", "CustomValidation")

    </div>

    <div class="btn btn-success">
        @Html.ActionLink("Second Custom Validation", "SecondCustomValidation")

    </div>

    <div class="btn btn-success">
        @Html.ActionLink("Async Search", "AsyncSearch")

    </div>
</body>
</html>
